.work
{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    margin-left:-11px;
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(6px);
    z-index:2;
    .projects
    {
        margin-top: 2em;
        .languages
        {       
            .languages-name
            {
                margin: 1em 0em 1em 0em;
                text-align: center;
                padding: 5px;
                border-radius: 10px;
                font-size: 1.2em;
                font-weight: 500;
            }
            .languages-name-style
            {
                transition: 1s;
                background-color: black;
                color:white;
                margin: 1em 0em 1em 0em;
                padding:5px;
            }
        }
        .projects-name
        {
            
            padding-top: 1em;
            height:78vh;
            overflow-y: auto;
            display: grid;
            grid-template-columns: 33% 33% 34%;
            justify-items: center;
            .projects-data
            {
                width: fit-content;
                padding: 1em;
                display: grid;
                align-items: center;
                margin-bottom: 2em;
                border-radius: 10px;
                box-shadow: -5px -5px  12px rgba(255,255,255,.9),
                -2px -2px  12px rgba(255,255,255,.5),
                inset 2px 2px  8px rgba(255,255,255,.6),
                 3px 3px  12px rgba(0,0,0,1);
                .project
                {
                    .img
                    {
                        margin-bottom: 1em;
                    }
                    a 
                    {
                        color: black;
                        padding: 5px;
                        background-color: white;
                        margin-right: 1em;
                        text-decoration: none;
                        border-radius:15px;
                        box-shadow: -5px -5px  12px rgba(255,255,255,.9),
                        -2px -2px  12px rgba(255,255,255,.5),
                        inset 2px 2px  8px rgba(255,255,255,.6),
                         3px 3px  12px rgba(0,0,0,1);
                    }
                }
                .source-code
                {
                    margin-right: 10px;
                }
            }
        }
    }
}

@media(max-width:1250px)
{
   .work .projects .projects-name
    {
        display: grid;   
        grid-template-columns: 50% 50%;
    }
}
@media(max-width:800px)
{
   .work .projects .projects-name
    {
        display: grid;   
        grid-template-columns: 100%;
    }
}
@media(max-width:992px)
{
    .work .projects
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .work .projects .languages
    {
        display: flex;
        justify-content: center;
        align-items: center;
         & .languages-name
         {
             margin-right: 1em;
             padding:10px;
         }
    } 
}

@media(max-width:600px)
{

    .work .projects .languages
    {
        display: grid;
        grid-template-columns:50% 50%;
        align-items: center;
        justify-items: center;
        margin-top: -3em;
         & .languages-name
         {
             position: relative;
             margin: 1em 0em 1em 0em;
             padding:10px;
         }
    } 
}