@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
.body1 {
  overflow-x: hidden;
  overflow-y: auto;
}

.back-text {
  position: absolute;
  min-height: 100%;
  width: 100%;
}

.spinner {
  position: absolute;
  top: -7%;
  font-size: 8em;
  color: brown;
  -webkit-animation: spinner 4s ease 0s infinite;
          animation: spinner 4s ease 0s infinite;
}

@-webkit-keyframes spinner {
  0%,
  100% {
    right: 25%;
  }
  50% {
    right: 35%;
  }
}

@keyframes spinner {
  0%,
  100% {
    right: 25%;
  }
  50% {
    right: 35%;
  }
}

.square {
  position: absolute;
  top: 10%;
  color: darkblue;
  left: 20%;
  font-weight: 800;
  -webkit-animation: square 7s linear infinite;
          animation: square 7s linear infinite;
}

@-webkit-keyframes square {
  0% {
    font-size: 0em;
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    font-size: 7em;
    opacity: .5;
    -webkit-transform: rotate(180eg);
            transform: rotate(180eg);
  }
  100% {
    font-size: 14em;
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes square {
  0% {
    font-size: 0em;
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    font-size: 7em;
    opacity: .5;
    -webkit-transform: rotate(180eg);
            transform: rotate(180eg);
  }
  100% {
    font-size: 14em;
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.back-text .back-items-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 9em;
  font-family: Dela Gothic One;
  font-style: italic;
  opacity: .3;
  -webkit-animation-name: Home;
          animation-name: Home;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

@-webkit-keyframes Home {
  0% {
    left: -70%;
  }
  70% {
    left: 10%;
  }
  100% {
    left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
}

@keyframes Home {
  0% {
    left: -70%;
  }
  70% {
    left: 10%;
  }
  100% {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.back-text .back-items-value-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 9em;
  font-family: Dela Gothic One;
  font-style: italic;
  opacity: .3;
  -webkit-animation-name: Home2;
          animation-name: Home2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes Home2 {
  0% {
    left: -70%;
  }
  70% {
    left: 10%;
  }
  100% {
    left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
}

@keyframes Home2 {
  0% {
    left: -70%;
  }
  70% {
    left: 10%;
  }
  100% {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  .back-text .Home {
    font-size: 6em;
  }
}

.dots {
  position: absolute;
  left: 2%;
  bottom: 20%;
  color: orange;
  line-height: .5em;
  font-size: 3em;
  letter-spacing: 13px;
  font-weight: 800;
  -webkit-animation: dot 3s linear infinite;
          animation: dot 3s linear infinite;
}

@-webkit-keyframes dot {
  0%,
  100% {
    bottom: 20%;
  }
  50% {
    bottom: 30%;
  }
}

@keyframes dot {
  0%,
  100% {
    bottom: 20%;
  }
  50% {
    bottom: 30%;
  }
}

.triangle {
  position: absolute;
  right: 7%;
  bottom: 15%;
  color: #00ffdd;
  font-size: 7em;
  letter-spacing: 13m;
  font-weight: 800;
  -webkit-animation: triangle 3s linear infinite;
          animation: triangle 3s linear infinite;
}

@-webkit-keyframes triangle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes triangle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.Menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.Menuvisible {
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#Menu-itmes {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Menu-itmes .column {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.9), -2px -2px 15px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 12px rgba(0, 0, 0, 0.5);
          box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.9), -2px -2px 15px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 12px rgba(0, 0, 0, 0.5);
}

#Menu-itmes .column:hover {
  -webkit-box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.5), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(255, 255, 255, 0.1), inset 2px 2px 12px rgba(0, 0, 0, 0.3);
          box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.5), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(255, 255, 255, 0.1), inset 2px 2px 12px rgba(0, 0, 0, 0.3);
}

#Menu-itmes .column:hover span {
  display: inline-block;
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}

.main {
  position: absolute;
  z-index: 2;
  margin-left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.header {
  position: relative;
  width: 100%;
  padding: 1em;
}

.logo span {
  font-family: monospace;
  font-style: oblique;
  background-color: none;
  border-radius: 50%;
  -webkit-box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.9), -2px -2px 15px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 12px rgba(0, 0, 0, 0.5);
          box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.9), -2px -2px 15px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 12px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin: 0;
}

.Menu-bar i {
  background: none;
  padding: 10px;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.9), -2px -2px 15px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(0, 0, 0, 0.5);
          box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.9), -2px -2px 15px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Menu-bar i:hover {
  -webkit-box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.5), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(255, 255, 255, 0.1), inset 2px 2px 12px rgba(0, 0, 0, 0.3);
          box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.5), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(255, 255, 255, 0.1), inset 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.Menu-bar i:hover span {
  display: inline-block;
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}

.Details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80vh;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-img {
  border-radius: 15%;
  -webkit-box-shadow: -7px -7px 12px rgba(255, 255, 255, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.5), inset 5px 5px 12px rgba(255, 255, 255, 0.5), 2px 2px 15px rgba(0, 0, 0, 0.4);
          box-shadow: -7px -7px 12px rgba(255, 255, 255, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.5), inset 5px 5px 12px rgba(255, 255, 255, 0.5), 2px 2px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.profile-img img {
  max-width: auto;
  height: 100%;
}

@media (max-width: 768px) {
  .data {
    margin: 4em 0em 4em 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.data h5 {
  margin-bottom: 1em;
  opacity: .5;
}

.data h1 {
  font-family: cursive;
  font-size: 3em;
  font-style: italic;
}

.data p {
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: cursive;
  text-decoration: none;
  font-weight: 500;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.9), -2px -2px 12px rgba(255, 255, 255, 0.9), inset 2px 2px 8px rgba(255, 255, 255, 0.3), 2px 2px 12px black;
          box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.9), -2px -2px 12px rgba(255, 255, 255, 0.9), inset 2px 2px 8px rgba(255, 255, 255, 0.3), 2px 2px 12px black;
}

.data p:hover {
  -webkit-box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.5), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(255, 255, 255, 0.1), 2px 2px 12px rgba(0, 0, 0, 0.3);
          box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.5), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(255, 255, 255, 0.1), 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.data p:hover span {
  display: inline-block;
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
}

.about-page {
  position: absolute;
  z-index: 2;
  margin-left: -11px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.about-page .about-info {
  text-align: center;
  padding-left: 1.1em;
}

.about-page .about-info h1 {
  font-family: monospace;
  font-weight: 600;
  letter-spacing: .2em;
}

.about-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-data .data h5 {
  text-align: justify;
  word-spacing: .5em;
  padding-top: 2em;
  opacity: 1;
  font-style: oblique;
}

@media (max-width: 996px) {
  .about-data .data {
    margin: 2em;
  }
}

.btnclass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btnclass p {
  margin-right: 2em;
}

.social-media {
  position: absolute;
  -webkit-transform: translateY(240px);
          transform: translateY(240px);
}

.social-media a {
  font-size: 2em;
  margin: 0px 10px 0px 10px;
  color: black;
  background: none;
  border-radius: 10px;
  padding: 0px 5px 0px 5px;
  -webkit-box-shadow: -5px -5px 12px rgba(255, 255, 255, 0.9), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(255, 255, 255, 0.6), 3px 3px 12px black;
          box-shadow: -5px -5px 12px rgba(255, 255, 255, 0.9), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(255, 255, 255, 0.6), 3px 3px 12px black;
}

.social-media a:hover {
  -webkit-box-shadow: inset -5px -5px 12px rgba(255, 255, 255, 0.9), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px white, inset 2px 2px 12px black;
          box-shadow: inset -5px -5px 12px rgba(255, 255, 255, 0.9), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px white, inset 2px 2px 12px black;
}

.social-media a:hover span {
  display: inline-block;
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
}

.skill-edu {
  position: relative;
  top: 5em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-edu .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill-edu .option div {
  margin: 5px 10px 5px 10px;
  font-size: 1em;
  opacity: .7;
  font-weight: 500;
  padding: 5px 10px;
}

.skill-edu .option .skill {
  cursor: pointer;
  border-radius: 20px;
  background: none;
  -webkit-box-shadow: -5px -5px 12px white, -3px -3px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 8px rgba(255, 255, 255, 0.9), 2px 2px 8px rgba(0, 0, 0, 0.6);
          box-shadow: -5px -5px 12px white, -3px -3px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 8px rgba(255, 255, 255, 0.9), 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.skill-edu .Education {
  cursor: pointer;
}

.skill-edu .option .skillactive {
  -webkit-box-shadow: inset -5px -5px 12px white, -3px -3px 12px white, 2px 2px 8px rgba(0, 0, 0, 0.2), inset 2px 2px 8px rgba(0, 0, 0, 0.5);
          box-shadow: inset -5px -5px 12px white, -3px -3px 12px white, 2px 2px 8px rgba(0, 0, 0, 0.2), inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.skill-edu .option .skillactive span {
  display: inline-block;
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
}

.skill-edu-data {
  position: relative;
  background-color: aqua;
  width: 100%;
  top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-data {
  position: absolute;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  padding: 1em 0 1em 0;
}

.skill-data div {
  font-weight: 700;
  padding: 1em;
  margin: 1em;
  border-radius: 25px;
  -webkit-box-shadow: -5px -5px 12px white, -2px -2px 8px rgba(255, 255, 255, 0.6), inset 6px 6px 8px white, 2px 2px 12px black;
          box-shadow: -5px -5px 12px white, -2px -2px 8px rgba(255, 255, 255, 0.6), inset 6px 6px 8px white, 2px 2px 12px black;
}

.skill-data div .progress {
  background: none;
  border-radius: 20px;
  padding: 3px;
  border: none;
  -webkit-box-shadow: -5px -5px 12px white, -3px -3px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(0, 0, 0, 0.6);
          box-shadow: -5px -5px 12px white, -3px -3px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.skill-data div .progress span {
  width: 70%;
  margin-top: 2px;
  height: 50%;
  border-radius: 50px;
  background: black;
  opacity: .5;
}

.skill-data div .progress span::after {
  position: absolute;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  content: "70%";
}

.skill-data .css .progress span {
  width: 60%;
}

.skill-data .css .progress span::after {
  position: absolute;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  content: "60%";
}

.skill-data .javascript .progress span {
  width: 75%;
}

.skill-data .javascript .progress span::after {
  position: absolute;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  content: "75%";
}

.skill-data .php .progress span {
  width: 85%;
}

.skill-data .php .progress span::after {
  position: absolute;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  content: "85%";
}

.skill-data .bootstrap .progress span {
  width: 50%;
}

.skill-data .bootstrap .progress span::after {
  position: absolute;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  content: "50%";
}

.skill-data .java .progress span {
  width: 90%;
}

.skill-data .java .progress span::after {
  position: absolute;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  content: "90%";
}

.skill-data .python .progress span {
  width: 70%;
}

.skill-data .python .progress span::after {
  position: absolute;
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
  content: "70%";
}

.edu-data {
  position: absolute;
  width: 100%;
  padding: 1em 0 1em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.edu-data div {
  text-align: right;
  padding: 1em;
  margin: .5em;
  border-radius: 25px;
  -webkit-box-shadow: -5px -5px 12px white, -3px -3px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 12px rgba(0, 0, 0, 0.6);
          box-shadow: -5px -5px 12px white, -3px -3px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 12px rgba(0, 0, 0, 0.6);
}

.edu-data div h6 {
  color: salmon;
}

.edu-data div h3 {
  font-size: 1.5em;
}

.edu-data div h5 {
  font-size: 1em;
  opacity: .7;
}

.edu-data .empty {
  opacity: 0;
}

.contact-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rbga(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-left: -11px;
}

.form-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-align .part-1 {
  width: 50%;
  margin: 1em;
}

.form-align .part-1 div {
  margin: 1em;
}

.form-align .part-1 div input {
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  padding: 1em;
  margin: .5em;
  border-radius: 25px;
  -webkit-box-shadow: -5px -5px 12px white, -3px -3px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 12px rgba(0, 0, 0, 0.6);
          box-shadow: -5px -5px 12px white, -3px -3px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 12px rgba(0, 0, 0, 0.6);
}

.form-align .part-1 div input:hover {
  -webkit-box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.5), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(255, 255, 255, 0.1), inset 2px 2px 12px rgba(0, 0, 0, 0.3);
          box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.5), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(255, 255, 255, 0.1), inset 2px 2px 12px rgba(0, 0, 0, 0.3);
  display: inline;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.form-align .part-2 {
  margin: 1em;
  width: 50%;
}

.form-align .part-2 textarea {
  width: 100%;
  height: 90%;
  border: none;
  outline: none;
  text-align: left;
  padding: 1em;
  margin: .5em;
  border-radius: 25px;
  -webkit-box-shadow: -5px -5px 12px white, -3px -3px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 12px rgba(0, 0, 0, 0.6);
          box-shadow: -5px -5px 12px white, -3px -3px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 12px rgba(0, 0, 0, 0.6);
}

.form-align .part-2 textarea:hover {
  -webkit-box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.5), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(255, 255, 255, 0.1), inset 2px 2px 12px rgba(0, 0, 0, 0.3);
          box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.5), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(255, 255, 255, 0.1), inset 2px 2px 12px rgba(0, 0, 0, 0.3);
  display: inline;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

#submit-btn {
  margin: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#submit-btn input {
  width: 20%;
  height: 90%;
  border: none;
  outline: none;
  background: white;
  text-align: Center;
  padding: 1em;
  margin: .5em;
  border-radius: 25px;
  -webkit-box-shadow: -5px -5px 12px white, -3px -3px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 12px rgba(0, 0, 0, 0.6);
          box-shadow: -5px -5px 12px white, -3px -3px 12px rgba(255, 255, 255, 0.6), inset 2px 2px 8px rgba(255, 255, 255, 0.5), 2px 2px 12px rgba(0, 0, 0, 0.6);
}

#submit-btn input:hover {
  -webkit-box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.5), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(255, 255, 255, 0.1), inset 2px 2px 12px rgba(0, 0, 0, 0.3);
          box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.5), -2px -2px 12px rgba(255, 255, 255, 0.5), 2px 2px 8px rgba(255, 255, 255, 0.1), inset 2px 2px 12px rgba(0, 0, 0, 0.3);
  display: inline;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

@media (max-width: 768px) {
  .form-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1em;
  }
  .form-align .part-1 {
    width: 90%;
  }
  .form-align .part-2 {
    margin: 1em;
    width: 90%;
  }
}

.work {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-left: -11px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: 2;
}

.work .projects {
  margin-top: 2em;
}

.work .projects .languages .languages-name {
  margin: 1em 0em 1em 0em;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 500;
}

.work .projects .languages .languages-name-style {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: black;
  color: white;
  margin: 1em 0em 1em 0em;
  padding: 5px;
}

.work .projects .projects-name {
  padding-top: 1em;
  height: 78vh;
  overflow-y: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 34%;
      grid-template-columns: 33% 33% 34%;
  justify-items: center;
}

.work .projects .projects-name .projects-data {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
  border-radius: 10px;
  -webkit-box-shadow: -5px -5px 12px rgba(255, 255, 255, 0.9), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(255, 255, 255, 0.6), 3px 3px 12px black;
          box-shadow: -5px -5px 12px rgba(255, 255, 255, 0.9), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(255, 255, 255, 0.6), 3px 3px 12px black;
}

.work .projects .projects-name .projects-data .project .img {
  margin-bottom: 1em;
}

.work .projects .projects-name .projects-data .project a {
  color: black;
  padding: 5px;
  background-color: white;
  margin-right: 1em;
  text-decoration: none;
  border-radius: 15px;
  -webkit-box-shadow: -5px -5px 12px rgba(255, 255, 255, 0.9), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(255, 255, 255, 0.6), 3px 3px 12px black;
          box-shadow: -5px -5px 12px rgba(255, 255, 255, 0.9), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 8px rgba(255, 255, 255, 0.6), 3px 3px 12px black;
}

.work .projects .projects-name .projects-data .source-code {
  margin-right: 10px;
}

@media (max-width: 1250px) {
  .work .projects .projects-name {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media (max-width: 800px) {
  .work .projects .projects-name {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media (max-width: 992px) {
  .work .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work .projects .languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work .projects .languages .languages-name {
    margin-right: 1em;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .work .projects .languages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    margin-top: -3em;
  }
  .work .projects .languages .languages-name {
    position: relative;
    margin: 1em 0em 1em 0em;
    padding: 10px;
  }
}

.certificate {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rbga(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-left: -11px;
}

.certificate .block {
  position: absolute;
  width: 100%;
  height: 70vh;
}

.certificate .block .inside-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certificate .block .btn {
  color: black;
  font-size: 3em;
}

.certificate .block .content {
  position: relative;
  width: 50%;
}

.certificate .block .content img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.certificate .block .right-btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=CV.css.map */